.container-principal {
    display:flex;
    justify-content: center;
}

.container-card {
    background-color: lightsalmon;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.container-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-btn button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: blue;
    font-weight: bold;
    border-radius: 10px;
}

.container-precio{
    display: flex;
    color: black;
}

.container-resultado{
    text-align: left;
    display: flex;
    margin-left: 25px;
    margin-top: 90px;
    flex-direction: column;
}
.resultado-items{
    text-align: left;
    display: flex;
    padding: 0;
    flex-direction: column;
}
.result-color {
    border-radius: 100px;
    width: 20px;
    height: 20px;
}